version: "3.0"

services:
  frontend:
    build: frontend
    image: dipweb.azurecr.io/dipweb-front
    ports:
      - 80:80
    depends_on:
      - backend
    volumes:
      - share:/app/storage
    environment:
      - STREAMLIT_SERVER_PORT=80
  backend:
    build: backend
    image: dipweb.azurecr.io/dipweb-back
    volumes:
      - share:/app/storage

volumes:
    share:

#   # FastAPI
#   # api:
#   #   container_name: "api"
#   #   build: .
#   #   restart: always
#   #   tty: true
#   #   ports:
#   #     - 8000:8000
